<nav class="navbar sticky-top navbar-expand navbar-dark bg-dark shadow">
  <div class="d-flex flex-column">
    <div class="d-flex">
      <a class="navbar-brand ml-2" href="/">
        <img src="{{site.logo}}" title="{{site.name}}" alt="{{site.name}}" height="25">
      </a>
    </div>
    <ul class="navbar-nav">

    </ul>
  </div>
</nav>
