version: '3.7'

x-node-defaults: &node
  tty: true
  init: true
  image: node:10.15
  entrypoint: ["node"]
  working_dir: /site
  volumes:
    - .:/site:cached
    - ./node_modules:/site/node_modules:delegated
    - yarn-cache:/.yarn-cache
  environment:
    YARN_CACHE_FOLDER: /.yarn-cache
    NODE_ENV: development

services:
  commands:
    <<: *node
    working_dir: /site
    entrypoint: ["tail"]
    command: ["-f", "/dev/null"]

  site:
    << : *node
    working_dir: /site
    entrypoint: ["node_modules/.bin/gulp"]
    environment:
      YARN_CACHE_FOLDER: /.yarn-cache
      NODE_ENV: development
      INTERNAL_PORT: 80
      EXTERNAL_PORT: 10601
    ports:
      - "10601:80"

volumes:
  yarn-cache: {}
