{{#content-for "head"}}
  <title>Section Title</title>
{{/content-for}}

<section data-id="{{section.id}}" class="website-section website-section--display website-section--{{replace section.alias "/" "-"}}">
  <h1>{{section.name}}</h1>
  <div>{{section.description}}</div>
</section>
